<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Owner page</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="guru.springframework.sfgpetclinic.model.Owner"*/-->
<h1 th:text="'list of Owners..'">Index Page</h1>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
    </thead>
    <tbody>
    <tr th:each = "owner : ${owners}">
      <td th:text = "${owner?.id}">1</td>
      <td th:text = "${owner?.firstName}">Joe</td>
      <td th:text = "${owner?.lastName}">Black</td>
    </tr>
    </tbody>
  </table>
</body>
</html>