<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
  <meta charset="UTF-8">
  <title>Owner page</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="guru.springframework.sfgpetclinic.model.Owner"*/-->
<h2 th:text="'list of Owners..'">Index Page</h2>

  <table id="owners" class="table table-striped">
    <thead>
      <tr>
        <th style="width: 150px;">Id</th>
        <th style="width: 150px;">First name</th>
        <th style="width: 150px;">Last name</th>
      </tr>
    </thead>
    <tbody>
    <tr th:each = "owner : ${owners}">
      <td th:text = "${owner?.id}">1</td>
      <td th:text = "${owner?.firstName}">Joe</td>
      <td th:text = "${owner?.lastName}">Black</td>
    </tr>
    </tbody>
  </table>
</body>
</html>