<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vets page</title>
</head>
<body>
<h1 th:text="'list of Vets..'">Index Page</h1>
<!--/*@thymesVar id="vet" type="guru.springframework.sfgpetclinic.model.Vet"*/-->


<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "vet : ${vets}">
        <td th:text = "${vet?.id}">1</td>
        <td th:text = "${vet?.firstName}">Joe</td>
        <td th:text = "${vet?.lastName}">Black</td>
    </tr>
    </tbody>
</table>
</body>
</html>